* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Times New Roman';
}

body {
    height: 100%;
    width: 100%;
}

.form-box {
    border: 2px solid black;
    height: auto;
    width: 50%;
    margin: auto;
    margin-top: 10vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}

.form-box h1 {
    font-size: 2rem;
    text-align: center;
}

.form-box hr {
    margin: 1rem 0;
    width: 100%;
}

.form-box #email-input,
#otp-input {
    height: auto;
    width: 100%;
    padding: 0.5rem;
    outline: none;
}

.form-box #submit-button,
#verify-otp-button {
    height: auto;
    width: 50%;
    padding: 0.5rem;
    cursor: pointer;
}

#verification-result {
    height: auto;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}